@model lab3formularz.Models.Dane

<h1>Wynik</h1>
Zaakceptowane i przesłane dane:
<br />
Imie: @Model.Imie
<br />
Nazwisko: @Model.Nazwisko
<br />
Email: @Model.Email
<br />
Nr telefonu: @Model.NrTelefonu
<br />
Wiek: @Model.Wiek
<br />
Miasto: @Model.Miasto
<br />
